html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 1rem;
  background-color: #f2f1ed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "banner banner"
    "col1 col2";
  gap: 1rem;
}

header {
  display: contents;
  grid-area: banner;
}

.pano {
  grid-area: banner;
}

.logo {
  grid-area: banner;
  color: #fff;
  width: 14rem;
  padding: 1rem;
  position: absolute;
}

h1 {
  place-items: end;
}

nav {
  grid-area: banner;
  grid-column: 2;
}

ul {
  display: flex;
  position: absolute;
}

li {
  font-size: 2rem;
  color: #fff;
  list-style-type: none;
  font-family: "Patua One", sans-serif;
  display: inline;
  justify-content: space-between;
}

main {
  display: flex;
  display: contents;
}

h2 {
  color: #30658d;
  font-family: "Patua One", sans-serif;
}

p {
  font-weight: normal;
}

figure {
  padding: 0;
  margin: 0;
  justify-content: space-between;
}
